<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests" >
    <test name="Flipkart Tests On Chrome" parallel="methods" thread-count="5">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.flipkart.test.purchase.ProductDetailsComparison">
                <methods>
                    <include name="compareProductDetails" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Flipkart Tests On Firefox"  parallel="methods" thread-count="5">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.flipkart.test.purchase.ProductDetailsComparison">
                <methods>
                    <include name="compareProductDetails" />
                </methods>
            </class>
        </classes>
    </test>
</suite>